<html>
<head>
    <title>Mympesa API</title>
</head>
<body>
    <form method="post" action="">
        {% csrf_token %}
        <div>
            <label for="phone">Phone Number:</label>
            <input type="text" id="phone" name="phone">
        </div>
        <div>
            <label for="amount">Amount:</label>
            <input type="text" id="amount" name="amount">
        </div>
        <div>
            <label for="description">Description:</label>
            <input type="text" id="description" name="description">
        </div>

        <input type="submit" value="Submit">
    </form>
</body> 
</html>